nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}
.blood
{
    font-size: 30px;
    color : red;
}
.card
{
    box-shadow :0 4px 8px 0 rgba(0,0,0,.2);
    transition : 0.3s;
    width : 40%;
    position : relative;
    left : 316px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container
{
    padding: 2px 16px;
    color:black;
}
#phone
{
    position : relative;
    right : 89px;
}
#check-box
{
    top : 15px;
    position : relative;
    right : 64px;
}
.main
{
    position :relative;
    z-index : 600;
}
.giveBlood
{
    margin : 0px;
    height : 70px;
    width: 1500px;
    background-repeat : no-repeat;
}