<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->

        <link href="/static/style.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Home</title>

    </head>
    <body>
        <form action="/" method="post">
        <div class="main">
            <div class="giveBlood" style="background-image : url(/static/images/b4.jpg);">
                <div class="content">
                    <h1 class="give">Give blood</h1>
                    <p class="become">Register today. Become a blood donor.</p>
                </div>
            </div>
        </div><br><br>
        <div class="how">
            <h3><span class="header_of_how">Who can give blood</span></h3>
            <p><span class="p_of_how">Most people can give blood,if<br>  they are fit and healthy</span></p>
        </div>
        <div class="appointment-pod appointment-pod--gree"><br>
                <h3 class="h4 appointment-pod__heading" data-mh="appointment-block-heading" style="">Already a donor?</h3>
                <div class="appointment-pod__text" data-mh="appointment-block-text" style="">
                    <p>Already Have an account!</p>
                </div>
                    <a class="btn" href="/login" target="_top">Login</a>
            </div>
                <div class="appointment-pod appointment-pod--green"><br>
                <h3 class="h4 appointment-pod__heading" data-mh="appointment-block-heading" style="">Become a blood donor</h3>
                <div class="appointment-pod__text" data-mh="appointment-block-text" style="">
                    <p>If you are completely new to blood donation</p>
                </div>
                    <a class="btn" href="/register" target="_top">Register now</a>
            </div>
    </body>
</html>